<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<!-- CloudConfigurationManager reads this value when running outside Azure -->
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true" />
  </appSettings>
  
  <!-- Required for WindowsAzure.Configuration.dll to load WindowsAzure.ServiceRuntime.dll -->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>